@import "tailwindcss";

@theme {
  --color-verde-profundo: #1A433D;
  --color-terracota: #C87A53;
  --color-blanco-lino: #F9F6F0;
  --color-lima-electrico: #A3E14B;

  --font-sans: 'Montserrat', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  @apply bg-blanco-lino text-verde-profundo font-sans antialiased;
}
